* {
    border-radius: 15pt;
}
/* .row {
    border: slategray solid 1pt;
} */

body {
    background-color:bisque;
    font-family: 'Cabin Condensed', sans-serif;
}

ul {
    list-style-type: none;
    padding: 5px;
    height: 200px;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.226); 
    color: white;
    border: aliceblue solid 1pt;

}

#info {
    height: 40px;
    color: gold;
    background-color: rgba(0, 0, 0, 0.705); 
    border: aliceblue solid 1pt;

}

#stage {
    height: 250px;
    background-color: rgba(0, 0, 0, 0.705); 
    color: aliceblue;
    border: aliceblue solid 1pt;

}

#chat {
    background-color: rgba(0, 0, 0, 0.705); 
    color: aliceblue;
    border: aliceblue solid 1pt;
}

#player-1,
#player-2,
#arena {
    /* background-color: rgba(60, 73, 73, 0.705);  */
}

.jumbotron {
    border: aliceblue solid 1pt;
    border-radius: 15pt;
    background-color: rgba(0, 0, 0, 0.705); 
    color: gold;
    font-family: 'Alfa Slab One', cursive;

}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: green;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: green;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: green;
}

h1 {
    text-align: center;
}